<div class="grid gap-3 grid-cols-1 sm:grid-cols-3 md:grid-cols-5">
  <!-- Pokemon Card -->
  @for (pokemon of ['pikachu', 'charizard', 'bulbasaur', 'lucario', 'eevee' , 'entei', 'chikorita', 'lugia', 'zapdos', 'gengar']; track $index) {
    <div class="bg-white h-44 bg-opacity-25 rounded-lg shadow-md flex flex-col justify-center items-center p-4 cursor-pointer">
      <!-- Imagen del pokemon -->
      <div class="rounded-full animate-pulse bg-gray-300 w-24 h-24">

      </div>
      <div class="flex text-center mt-5">
        <div class="h-4 w-20 bg-gray-300 rounded animate-pulse">

        </div>
      </div>
    </div>
  }


  <!-- Si no hay pokemon  -->
   <div class="col-span-5 text-center border-white h-28 flex justify-center items-center">
      No hay pokemons
   </div>
</div>
